<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="padding-left: 10%;">
  <a class="navbar-brand" href="/">Contacts Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="padding-right: 5%;">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/accounts/login">Login<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/accounts/dashboard">Create Contact</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/accounts/register">Register</a>
    </li>
  </ul>
</div>
</nav>